body,html{
  margin: 0;
  font-weight: 400;
  height: 100%;
  width: 100%;
  clear: both;
  content: "";

}

.navbar{
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 !important;
}

.bg-image {
    background-image: url("/images/1.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.8); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    text-align: center;
  }

  .bg-text form{
    
    padding: 50px;
    margin: 120px;
    
  }

  nav a:hover, .ui a:hover{
    background-color:rgb(248, 120, 0);
    -webkit-transform:scale(1.0);
     -moz-transform:scale(1.0);
     transform:scale(1.5);
}

#navbarNav>ul>li>a{
  padding: 15px;
}

.form-inline{
  font-size: 2em;
}
nav{
  position: fixed;
  text-align: center;
  width: 100%;
}

