@import url('https://fonts.googleapis.com/css?family=Montserrat');
body,
html {
    margin: 0;
    font-weight: 400;
    height: 100%;
    width: 100%;
    clear: both;
    content: "";
    background: #262627 repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 !important;
}

nav a:hover {
    background-color: rgb(248, 120, 0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform: scale(1.5);
}


#navbarNav>ul>li>a {
    padding: 15px;
}

.form-inline {
    font-size: 2em;
}

.img-fluid {
    width: 100vw;
    height: 89vh;
    padding: 0;
}

.card {
    height: 100%;
}

.container-fluid {
    height: 60vh;
    width: 100%;
    clear: both;
    margin: 3%;
}

.img {
    width: 100%;
    height: 101%;
    
}

.card-body {

    font-size: 1em;
}

.card-title {

    font-size: 2em;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    border: 3px solid #f1f1f1;
    display: none;
    opacity: 0;
}

.image-container:hover .img__description {

    display: block;
    opacity: 1;
}

.title {
    text-align: center;
    margin-top: 40%;
}

.scrollTop {
    margin-left: 48%;
    margin-top: 2%;
}

footer .card-body .row .col{
    border: 3px solid white;
}

footer .row .col a{
    margin:auto;
    padding: 5px;
    clear: both;
    text-align: center;
    float: left;

}

footer .row .col h6{
    margin:auto;
    padding: 5px;
    clear: both;
    text-align: center;
    float: left;
    color:skyblue;
}

#next2 ul .card-text li{
    overflow-y: auto;
}

.col .card-text h5{
    margin-left: 10px;
}